$ButtonsGreen : #08CB7B;
$TextGreen : #94CB53;
$Black : #000000;
$Grey : #EBEBEB;
$Blue : #30405F;
$Orange : #FF9933;
$White : #FFFFFF;
$DarkBlue : #28344A;
$SoDarkBlue : #212733;


$PrimaryFont : 'Orbitron', sans-serif;
