$ButtonsGreen : #08CB7B;
$OfferGreen : #1A8F3D;
$TextGreen : #94CB53;
$HoverGreen : #91CA4E;
$Black : #000000;
$Grey : #EBEBEB;
$Blue : #30405F;
$Orange : #FF9933;
$White : #FFFFFF;
$DarkBlue : #28344A;
$SoDarkBlue : #212733;
$LightBlue : #425680;
$SoLightBlue : #9DADD1;
$Yellow : #F8BB0D;
$AdGreen : #33B960;


$PrimaryFont : 'Orbitron', sans-serif;
